{{ form_start(form, {
    'attr': {'class': 'text-center p-6'}
}) }}

{{ form_label(form.imdb_id, 'IMDb ID', {
    'label_attr': {'class': 'text-2xl'}
}) }}
{{ form_widget(form.imdb_id, {
    'attr': {'class': 'border-2 border-red text-2xl'}
}) }}

<div class="mt-6"></div>
<button class="p-2 m-8 bg-blue rounded font-bold">{{ button_label|default('Add') }}</button>
