{% extends 'base.html.twig' %}

{% block title %}Add Movie{% endblock %}

{% block body %}
<body class="bg-black text-white font-serif mx-auto">
    <h1 class="text-center text-3xl m-12">Add a new Movie</h1>

    {{ include('movies/_form.html.twig', {'formMethod': 'POST'}) }}
</body>
{% endblock %}

{% block javascript %}{% endblock %}
