{% extends 'base.html.twig' %}

{% block title %}Edit Movie{% endblock %}

{% block body %}
<body class="bg-black text-white font-serif mx-auto">
    <h1 class="text-center text-3xl m-12">Edit Movie</h1>

    {{ include('movies/_form.html.twig', {'button_label': 'Edit', 'formMethod': 'PUT'}) }}

    {{ include('movies/_delete_form.html.twig') }}
</body>
{% endblock %}

{% block javascript %}{% endblock %}
