<!DOCTYPE html>

<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <meta name="Author" content="JagdCake" />
  <meta name="Keywords" content="HTML5, CSS3, Javascript, Tachyons CSS, Movies" />
  <meta name="Description" content="Movie Catalogue" />
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://movies.jagdcake.com/">
  <meta property="og:title" content="I watched a Movie!">
  <meta property="og:image" content="https://firebasestorage.googleapis.com/v0/b/i-watched-a-movie.appspot.com/o/IWAML.png?alt=media&token=89ddb39d-7483-4405-8664-19ebd66e9bf8">
  <meta property="og:image:width" content="749">
  <meta property="og:image:height" content="410">
  <meta property="og:description" content="Movie Catalog">
  <meta property="og:site_name" content="Movies.JagdCake.com">
  <meta property="og:locale" content="en_US">
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@JagdCake" />
  <meta name="twitter:title" content="I watched a Movie!" />
  <meta name="twitter:description" content="My movie catalogue" />
  <meta name="twitter:image" content="https://firebasestorage.googleapis.com/v0/b/i-watched-a-movie.appspot.com/o/IWAML.png?alt=media&token=89ddb39d-7483-4405-8664-19ebd66e9bf8" />
  <meta name="twitter:image:alt" content="Movies Layout" />
  <meta property="twitter:image:width" content="749">
  <meta property="twitter:image:height" content="410">
  <!-- <meta http-equiv="Content-Security-Policy" content="script-src 'self'; style-src 'self'; connect-src 'self'; img-src 'self'; upgrade-insecure-requests"> -->
  <link rel="icon" type="image/png" href="images/favicon.png">
  <link rel="stylesheet" href="css/main.css"/>
  <title>{% block title %}I watched a Movie!{% endblock %}</title>
</head>
    
<body class="bg-black text-black font-serif fast-transition flex justify-center">

    <button title="Back to Top" class="hidden go-up fixed bottom-1 right-1 md:bottom-2 md:right-2 p-2 bg-black rounded-full shadow-black z-10 opacity-30">
        <img class="w-full" src="images/up.svg" alt="up arrow icon">
    </button>

    <div class="flex flex-wrap w-full md:w-full lg2:w-2/3 xl:w-1/2 sm:w-5/6">

        <header class="w-full">
            <nav class="flex flex-wrap w-full">
                <section class="w-full bg-red-pink text-center slackey leading-none rounded-b">
                    <h1 class="lg2:text-f1 text-2xl sm:text-4xl my-4 lg:tracking-wider tracking-tight">
                        <a class="text-shadow text-black no-underline" href="/">I watched a Movie!</a>
                    </h1>
                </section>

                <article class="my-4 w-full flex flex-wrap justify-between my-2 mh0-ns">
                    <button class="flex-0 hover-button about-button pointer w-1/4 sm:w-1/6 lg:w-24 md:h-16 h-12 lg2:rounded rounded-r h-auto-m bg-red-pink bn" title="Toggle 'about' section">
                        <img class="w-full h-full img-shadow" src="images/about.svg" alt="question mark icon">
                    </button>

                    <section class="flex-3 sm:flex-2 mt-4 sm:mt-0 sm:w-3/5 lg:w-3/4 w-full sm:rounded rounded-none h-12 lg:h-16 md:h-auto bg-red-pink flex flex-wrap justify-center">
                        <p class="movie-number slackey text-lg tracking-tight md:text-2xl m-2 md:m-0 xl:text-f3-vw self-center"><em class="roman">{% block numberOfMovies %}{% endblock %} movies</em> since June 2016</p>
                        <input class="hidden w-full rounded text-xl lg:text-f3-vw md:text-2xl border b--red-pink bg-black red-pink p-2" type="search" role="searchbox" placeholder=" Type here to search" autocomplete="off" spellcheck="off" autofocus>

                        <article class="lg:mt-16 mt-12 md:mt-16 mw-90 md:mw-30 hidden movie-list absolute bg-red-pink lg:text-f3 z-20 text-xl p-2 rounded-b text-left shadow">
                            {% block search %}{% endblock %}
                            <span class="no-results hidden text-black my-4">No results</span>
                        </article>

                    </section>

                  <button class="flex-2 sm:flex-3 hover-button search-button pointer w-1/4 sm:w-1/6 lg:w-24 md:h-16 h-12 lg2:rounded rounded-l h-auto-m bg-red-pink" title="Toggle search box">
                        <img class="search w-full h-full img-shadow" src="images/search.svg" alt="magnifying glass icon">
                    </button>
                </article>
            </nav>
        </header>

      <article class="about w-full bg-red-pink hidden lg:text-sm md:text-base text-sm z-10 lg:p-1 p-2 transition-height flex-none rounded-b">
            <section class="md:w-1/3 w-full p-1">
                <p class="m-0">This is just my personal movie catalogue. The idea is to catalogue every movie I (re)watch by creating an entry which includes 5 things:</p>
                <ol>
                    <li class="my-2">Info card</li>
                    <li class="my-2">My rating</li>
                    <li class="my-2">"Watched on" date</li>
                    <li class="my-2">Movie discussion or reviews</li>
                    <li class="my-2">IMDb link</li>
                </ol>
            </section>
            <section class="md:border-l md:border-r md:border-t-0 md:border-b-0 border-t border-b border-black md:w-1/3 w-full p-1">
                <h1 class="text-center md:m-0 my-2 text-base">Rating system:</h1>
                <div class="flex">
                    <div class="text-left mx-auto text-sm">
                        <p class="my-2">Bad Eggplant = <span class="font-mono">1 to 3.9</span></p>
                        <p class="my-2">Decent Carrot = <span class="font-mono">4 to 4.9</span></p>
                        <p class="my-2">Good Tomato = <span class="font-mono">5 to 5.9</span></p>
                        <p class="my-2">Great Onion = <span class="font-mono">6 to 7.8</span></p>
                        <p class="my-2">Amazing Savory = <span class="font-mono">7.9 to 8.9</span></p>
                        <p class="my-2">Sublime Lettuce = <span class="font-mono">9 to 10</span></p>
                    </div>
                </div>
            </section>
            <section class="md:w-1/3 w-full p-1">
                <address class="text-center md:m-0 my-4 roman"><span class="font-bold">Contact:</span> jc@jagdcake.com</address>
                <p class="text-center my-4">
                    <a class="text-black underline" href="https://github.com/JagdCake/site.movies">GitHub repo</a>
                </p>
                <p class="text-center my-4">
                    <a class="text-black underline" href="https://data.jagdcake.com">Data on watched movies</a>
                </p>
                <p class="text-center my-4">
                    <a class="text-black underline" href="/javascript">JavaScript License Information</a>
                </p>
            </section>
        </article>

        <div class="first-separator w-full mb-3"></div>

        <main class="w-full flex flex-wrap justify-center md:justify-between oswald">
            {% block main %}{% endblock %}
        </main>

        <footer class="w-full bg-red-pink text-center slackey leading-none rounded-t justify-center">
            <h1 class="my-4 lg2:text-f1 lg:text-4xl text-4xl tracking-wider">
                <a class="text-shadow text-black no-underline" href="/">The End</a>
            </h1>
        </footer>

    </div>

<script src="js/all.js"></script>
</body>
</html>
