<!DOCTYPE html>

<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
  <meta name="Author" content="JagdCake" />
  <meta name="Keywords" content="HTML5, CSS3, Javascript, Tachyons CSS" />
  <meta name="Description" content="Movies.JagdCake.com JavaScript license information" />
  <meta http-equiv="Content-Security-Policy" content="script-src 'self'; style-src 'unsafe-inline' 'self'; img-src 'self'; upgrade-insecure-requests">
  <link rel="icon" type="image/png" href="images/favicon.png">
  <link rel="stylesheet" href="css/tachyons.min.css"/>
  <style>
      .b--pink-red {
          border-color: #D05353;
      }
  </style>
  <title>Portfolio JavaScript license information</title>
</head>
<body class="bg-near-black light-gray serif w-100 h-100 tc">
    
    <h2 class="f2">JavaScript license information</h2>
    <table id="jslicense-labels1" class="lh-copy f4 center tc bb bw2 b--pink-red">
        <th>Script</th>
        <th>License</th>
        <th>Source</th>
        <tr class="tl">
            <td class="ph3"><a class="link underline light-gray" href="js/min.all.js">min.all.js</a></td>
            <td class="ph3"><a class="link underline light-gray" href="https://creativecommons.org/publicdomain/zero/1.0/legalcode">CC0-1.0-only</a></td>
            <td class="ph3"><a class="link underline light-gray" href="js/all.js">all.js</a></td>
        </tr>
    </table>
    <h1 class="f3"><a class="link bb bw1 light-gray" href="/">Back to Movies.JagdCake.com</a></h1>

</body>
</html>
